.react-calendar__month-view__weekdays__weekday {
  color: rgb(253 224 71);
  text-align: center;
  margin-bottom: 0.5rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__navigation {
  width: 50%;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.react-calendar__navigation__label {
  color: rgb(239, 239, 239);
}
.react-calendar__navigation__arrow {
  color: rgb(253 224 71);
}
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5;
}
